<!DOCTYPE html>
<title>Landing Page | Loctech Class Registry</title>
<%-include('partials/head') %> 
   <!-- Regular CSS -->
   <link rel="stylesheet" href="/stylesheets/landing-page.css">
   <!-- Regular CSS End -->
<body>
     <!-- nav -->
     <%-include('partials/nav') %> 

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
               <img src="/images/1000_F_265604412_aEQVW0NkFPrY1aOkLuIo4Sxn2INQEnTe 3.png" alt="" width="130%">
            </div>
            <div class="col-6">
                <h1 class="mt-5">CLASS REGISTRY</h1>
                <P style="font-size:20px ;">
                    Plus up your tech skills with one click
                </P>
                <div class="m-5">
                   <a href="http://localhost:3000/registration"><button class="btn btn-outline-light rounded-pill p-3" style="font-size: 1.4em;" >Join Now</button></a> 
                </div>
                
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid">
          <p>© 2022 Loctech IT Training Institute. All rights reserved.</p>
  
        </div>
      </footer>
    <!-- JS Bootstrap -->
     <script src="/javascripts/js/bootstrap.min.js"></script>
    <!-- Bootstrap End -->
</body>
</html>