 
  label{
      color: var(--secondary-color);
     
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.8em;
  }
  nav a{
    color: var(--secondary-color);
  }
  .navbar{
    background-color:var(--primary-color)
  }
  footer{
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 30px;
    
  }
  footer p{
    text-align: center;
    margin-bottom: 0px;
    color: var(--secondary-color)
  }
  #register{
    background-color: var(--primary-color);
    font-weight: bolder;
    color: var(--secondary-color);
  }
  #register:hover{
    background-color: var(--secondary-color);
    color:var(--tetiary-color);
  }
  /* validation */
  .errDisplay{
border: solid red 2px;

}


.successMsg{
border: solid 2px var(--primary-color);

}
p[class$='ErrorMsg']{
color:rgb(233, 189, 189);
font-weight:bolder;
}